{% load static %}


* {
    margin: 0;
    padding: 0;
    font-family: "Century Gothic";
}
@font-face {
     font-family: "Century Gothic";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}
body {
    background: #e3e9f7;
}
img {
    width: 100%;
}
header {
    width: 80%;
    height: 70px;
    background: #fefefe;
    display: flex; !important;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}
.logo {
    width: 100px;
    margin-top: 8px;
}
.logo img {
    border-radius: 1em;
}
nav .logo {
    display: none;
}
nav ul {
    display: flex;
}
nav ul li a {
    color: black;
    background-color: #B7E1E4;
    display: block;
    margin: 0 2px;
    font-weight: 500;
    padding: 5px 14px;
    transition: 0.3s;
    border-radius: 30px;
}
nav ul li a:hover {
    color: #fff;
    text-decoration: none;
    background: #675cff;
}
.hamburger:hover {
    background: #f6f4ff;
}
.hamburger div {
    width: 30px;
    height: 2px;
    margin: 6px 0;
    background: #212526;
}
 .hamburger {
    display: none; !important;
    height: fit-content;
    cursor: pointer;
    padding: 3px 8px;
    border-radius: 5px;
    transition: 0.2s;
}
@media only screen and (max-width: 1150px) {
    header {
        width: 95%;
        padding: 0 20px;
    }

    nav {
        position: absolute;
        left: -300px;
        top: 0;
        z-index: 999;
        width: 280px;
        height: 100vh;
        background-color: #fefefe;
        transition: 0.2s;
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.05);
    }

    #nav_check:checked ~ nav {
        left: 0;
    }

    nav .logo {
        display: block;
        height: 60px;
        display: flex;
        align-items: center;
        margin-left: 30px;
    }
    nav .logo img {
        width: 70%;
    }
    nav ul {
        display: block;
        padding: 0 20px;
        margin-top: 30px;
    }
    nav ul li a {
        margin-bottom: 5px;
        padding: 15px;
        border-radius: 5px;
    }
    .hamburger {
        display: block;
    }
}














