{% extends 'base.html' %}
{% load static %}
{% block title %} Main version {% endblock title %}

{% block content %}

<style>

</style>

<body class="page1">
    <header class="page">
        <div class="page2">
            <div class="page3">
                <img src="{% static 'css/images/ishbozori.jpg' %}">
            </div>
            <ul class="page4">
                <li class="page5"><a href="{% url 'home' %}">Ish Topish</a></li>
                <li class="page5"><a href="{% url 'xodim' %}">Xodim Topish</a></li>
                <li class="page5"><a href="{% url 'registr' %}">Vakansiya yaratish</a></li>
                <li class="page5"><a href="{% url 'enter' %}">Ro'yxatdan O'tish</a></li>
                <li class="page5"><a href="#">Kirish</a></li>
            </ul>
        </div>
        <div class="page6">
            <h1>Karyerangizni biz bilan boshlang, Orzuyingizdagi ishni toping</h1>
        </div>
        <div class="page7">
            <a href="#" class="page8">Kasbni tanlang</a>
            <a href="#" class="page9">Izlash</a>
        </div>
    </header>












</body>
{% endblock content %}